@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply text-5xl leading-[1.5em];
}

h2 {
  @apply text-4xl leading-[1.75em];
}

h3 {
  @apply text-3xl leading-[1.75em] text-gray-700;
}

h4 {
  @apply text-2xl leading-[1.75em] text-gray-700;
}

h5 {
  @apply text-xl;
}

body {
  @apply bg-gray-50;
}

h1 + hr,
h2 + hr,
h3 + hr,
h4 + hr,
h5 + hr,
h6 + hr {
  @apply border-t-gray-300;
}

ul > li::before {
  content: "- ";
}

.modal {
  width: 500px;
  @apply p-8 bg-white rounded-sm;
}

.vue-universal-modal {
  @apply hover:cursor-pointer;
}

.vue-universal-modal .modal {
  @apply hover:cursor-auto;
}

.separate-comma > *:not(:last-child)::after {
  content: ",";
}
